<%= turbo_frame_tag dom_id(tweet) do %>
  <div class="card card-body">
    <div><%= tweet.body %></div>

    <div class="mt-2">
      <%= button_to "Likes (#{tweet.liked_count})", tweet_like_path(tweet), method: :post %> 
      <%= link_to "Edit", edit_tweet_path(tweet) %>
      <%= link_to "Delete", tweet, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
<% end %>